<div class="flex flex-column align-items-center">
  <ng-lottie
    width="600px"
    height="500px"
    class="w-full"
    containerClass="moving-box another-class"
    [options]="options"
  />
  <h1>吃什麼呢？</h1>
  <div class="flex flex-column">
    <section class="god flex relative">
      <div
        class="flex align-items-center justify-content-center flex-column border-white border-1 overflow-hidden h-3rem w-full text-4xl"
      >
        @if(!showResult){ @for (location of locationList; track $index) {
        <div
          class="relative"
          [class.fadeout]="isPolling"
          [class.animation-duration-3000]="isPolling"
        >
          <div
            class="relative top-10 text-overflow-clip"
            [class.anumation-1]="isPolling"
          >
            {{ location.title }}
          </div>
        </div>

        } }@else {
        <div class="relative top-10 text-overflow-clip">
          {{ selectLocation.title }}
        </div>
        }
      </div>
    </section>
  </div>
  <div class="flex">
    <p-button label="抽籤！" (click)="startPolling()"></p-button>
  </div>

  @if (showResult) {

  <div class="flex flex-1 w-full h-full">
    <section id="map" class="map">
      <iframe
        loading="lazy"
        width="600"
        height="450"
        frameborder="0"
        style="border: 0"
        [src]="getMapSrc()"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>
  </div>
  }
</div>
