@import url("https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+TC:wght@100..900&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
